.post-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 100vw;
}

.left-side {
    display: flex;
    width: 50vw;
    justify-content: center;
}

.right-side {
    display: flex;
    width: 50vw;
}